{
    "publisherId": 2,
    "integrationCName": "gamut",
    "dataSourceId": 30,
    "params": [
        {
            "key": "username",
            "type": "plainText",
            "value": "USERNAMEHERE"
        },
        {
            "key": "password",
            "type": "plainText",
            "value": "PASSWORDHERE"
        }
    ],
    "paramKeys": [
        {
            "key": "username",
            "type": "plainText"
        },
        {
            "key": "password",
            "type": "plainText"
        }
    ],
    "backFill": {
        "backFill": false,
                "backFillStartDate": null,
                "backFillEndDate": null,
                "fetcherActivatorDataSourceForce": false,
                "dataSourceIntegrationId": false,
                "dataSourceIntegrationScheduleId": false,
                "dataSourceIntegrationScheduleUUID": false,
                "dataSourceIntegrationBackFillHistoryId": false
    }
}