# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    tagcade.default_data_path:      ./data

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    selenium_server_url: 'http://localhost:4444/wd/hub'

    tagcade_user_name: admin
    tagcade_user_password: '123456'
    tagcade_get_token_url: 'http://api.tagcade.dev/app_dev.php/api/v1/getToken'
    tagcade_get_list_publisher_url: 'http://api.tagcade.dev/app_dev.php/api/v1/adnetworks/{cname}/publishers'

    # mapping canonical name in db to real partner import command
    partners:
        33across: 'tc:33across:get-data'
        sovrn: 'tc:sovrn:get-data'
        defy-media: 'tc:defy-media:get-data'
        komoona: 'tc:komoona:get-data'
        pulse-point: 'tc:pulse-point:get-data'
        yellow-hammer: 'tc:yellow-hammer:get-data'