# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    tagcade.default_data_path:      ./data/fetcher

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    selenium_server_url: 'http://localhost:4444/wd/hub'

    redis_app_cache_host: 127.0.0.1
    redis_app_cache_port: 6379 # default
    lock_key_prefix: fetcher_ur_lock_
    lock_key_ttl: 3600

    tagcade_user_name: admin
    tagcade_user_password: '123456'
    tagcade_download_time_out: 3600
    tagcade_get_token_url: 'http://api.tagcade.dev/app_dev.php/api/v1/getToken'
    tagcade_get_list_publisher_url: 'http://api.tagcade.dev/app_dev.php/api/v1/adnetworks/{cname}/publishers'
    ur_get_list_integrations_to_be_executed_url: 'http://api.unified-reports.dev/app_dev.php/api/v1/datasourceintegrationschedules/byschedule'
    ur_get_list_integrations_by_datasource_url: 'http://api.unified-reports.dev/app_dev.php/api/v1/datasourceintegrationschedules/bydatasource'
    ur_update_last_execution_time_for_integration_url: 'http://api.unified-reports.dev/app_dev.php/api/v1/datasourceintegrationschedules/updateexecuteat'
    ur_update_backfill_executed_for_integration_url: 'http://api.unified-reports.dev/app_dev.php/api/v1/datasourceintegrations/backfill'
    ur_post_datasource_import_json_data: 'http://api.unified-reports.dev/app_dev.php/api/v1/datasources/entry'
    ur_create_alert_url: 'http://api.unified-reports.dev/app_dev.php/api/v1/alerts'

    fetcher_worker_tube: 'fetcher-worker'
    pheanstalk_ttr: 3600
    pheanstalk_primary_host: 127.0.0.1
    integration_log_file_dir: %kernel.root_dir%/../app/logs/integration
    integration_temp_file_dir: %kernel.root_dir%/../app/temp/integration

    # retry when fail
    retry_when_fail_max_retries_number: 3 # positive integer
    retry_when_fail_delay_before_retry: 30 # in second

    # process timeout
    process.timeout.execute_integration_command: 3600
    chrome_folder_path: '/media/tagcade/tagcade-unified-report-fetcher/.chrome'
    delay_time_before_job_become_ready: 15
