# report link: http://www.tynt.com/reports/delivery

# 33Across UI username
username: 'username'
# 33Across UI password
password: 'password'
# Tagcade publisher id
publisher_id: 1
# partner canonical name stored in core_partner
partner_cname: '33Across'