# Ads4Games UI username
username: 'username'
# Ads4Games UI password
password: 'password'
# Tagcade publisher id
publisher_id: 1
# partner canonical name stored in core_partner
partner_cname: 'Ads4Games'