# report link: http://ui.pubventuresmedia.com/report-v2/publisher/run-report/16

# pubVentures UI username
username: 'username'
# pubVentures UI password
password: 'password!'
# Tagcade publisher id
publisher_id: 2
# partner canonical name stored in core_partner
partner_cname: 'pub-ventures'